* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 60vh; /* Should be removed. Only for demonstration */
}
@media screen and (max-width: 600px) {
  .HOMELEFT {
     height: 60VH;
  }
}
.HOMERIGHT
{
  background-image: url(BURGER/burgerfront.jpg);
  background-size: 100%;
  
}


@media screen and (max-width: 600px) {
  .HOMERIGHT {
     background-repeat: no-repeat;
     background-size: 100%;
     height: 40vh;
  }
}

/* Clear floats after the columns */
.roww:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


#spin {
    color:black;
  }
  #spin:after {
    content:"";
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    0% { content:"Unexpected guests?"; }
    10% { content:"Movie marathon?"; }
    20% { content:"Hungry?"; }
    30% { content:"Game night?"; }
    40% { content:"Late nigt at office?"; }
    50% { content:"Unexpected guest?"; }
   
    
  }



.total
  {
    text-align: center;
  }
.ordernow
{
    border: 2px solid #FC8019;
    background-color: #FC8019;
    
}
.inputbox
{
    border: 2px solid #FC8019;
    height: 45px;
    width: 300px;
}
.findnow
{
  height: 45px;
  background-color: #FC8019;
  border:2px solid #FC8019;
  padding-top: 2px;
}

@media screen and (max-width: 600px) {
  
  .inputbox
  {
      border: 2px solid #FC8019;
      height: 30px;
      width: 200px;
  }
  .findnow
{
  height: 30px;
  background-color: #FC8019;
  border:2px solid #FC8019;
  padding-bottom: 2px;
}

}