.contentpart
{
  text-align: center;
}

.iconsediting
{
    font-size: 110px;
    color: #FC8019;
    text-align: center;
}
.SERVICE-PART
{
    height: 120vh;
    width: 100%;

}




@media only screen and (max-width: 1000px) {
    .SERVICE-PART {
          height: 240vh;
    }
  }